<% if @over_five %>
<%= link_to 'Show Previous', '?m=all' %> <hr>
<% end %>

<% @messages.each do |message| %>
        <% if message.body %>
        <% user = User.find(message.user_id) %>
        <%if user.doctor?%>
          <strong><%= "Dr. #{user.firstname.capitalize} answered :" %></strong>
          <% else %>
        <strong><%= "You Asked #{user.firstname.capitalize} :" %></strong>
        <% end %>
        <%= message.message_time %></div><br>
        Message: <%= message.body.html_safe  %><br>
        <%if message.images?%>
        <div class="scroller">
                <% message.images.each do |image| %>
                        <%= cl_image_tag(image, class: 'user_reports') %>
                <% end %>
        </div>
        <%end%>

        <hr>
        <% end %>
<% end %>

<%= form_for [@conversation, @message], html: {class: "ui reply form", :multipart => true} do |f| %>
<%= f.cktext_area :body, class: "form-control", ckeditor: { language: 'en'} %>
<%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
<p>
        <%= f.label :images %>
        <%= f.file_field :images, :multiple => true %>
</p>
<%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>

<% end %>
