<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>


  <% @messages.each do |message| %>
    <% if message.body %>
      <%if is_doctor?%>
        <%user = Doctor.find(message.doctor_id)%>
        <%user_name = "Dr. " + user.firstname + " " + user.lastname %>
      <%else%>
        <%user = User.find(message.user_id)%>
        <%user_name = user.firstname + ' '+ user.lastname%>
      <%end%>
      <strong><%= user_name %></strong>
      <%= message.message_time %>
      <%= message.body %>
    <% end %>
  <% end %>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user, type: "hidden"  %>
  <div>
  </div>
    <%= f.text_field :doctor_id, value: current_user, type: "hidden"  %>
  <div>
    <%= f.submit "Reply", class: "ui blue labeled submit icon button" %>
  </div>

<% end %>
