<% if @over_five %>
<%= link_to 'Show Previous', '?m=all' %> <hr>
<% end %>

<% @messages.each do |message| %>
        <% if message.body %>
        <% user = User.find(message.user_id) %>
        <%if user.doctor?%>
          <strong><%= "Dr. #{user.firstname} answered :" %></strong>
          <% else %>
        <strong><%= "You Asked #{user.firstname} :" %></strong>
        <% end %>
        <%= message.message_time %></div><br>
        Message: <%= message.body.html_safe  %><br>
        <%if message.images?%>
        <%= image_tag message.images %><br />
        <%end%>
        <!-- <%#= link_to "Delete",@messages, method: :delete%> -->

        <hr>
        <% end %>
<% end %>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
<%= f.cktext_area :body, class: "form-control", ckeditor: { language: 'en'} %>
<%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
<%= f.label :images %>
<%= f.url_field :images%>
<%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>

<% end %>
