<div class="login">

  <%= form_for(@user, :html => {:multipart => true }) do |f| %>

    <%= f.text_field :firstname, :placeholder => "First Name" %><br>

    <%= f.text_field :lastname, :placeholder => "Last Name"%><br>

    <%= f.email_field :email, :placeholder => "Email"  %><br>

    <%= f.text_field :doctor_qualifications, :placeholder => "Qualifications" %><br>

    <%= f.text_field :doctor_speciality, :placeholder => "Speciality"  %><br>

    <%= f.text_field :doctor_professional_experience, :placeholder => "Professional Experience"  %><br>

    <%= f.text_field :doctor_awards_recognitions, :placeholder => "Awards & Recognition"  %><br>

    <%= f.text_field :doctor_memberships, :placeholder => "Memberships" %><br>

    <%= f.text_field :doctor_publications, :placeholder => "Publications" %><br>

    <%= f.password_field :password, :placeholder => "Password", :required => true %><br>

    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :required => true %><br>

    <%= f.text_field :doctor, value: true, type: "hidden"  %>

    <%= f.cl_image_upload :image, :placeholder => "Avatar"  %><br>

    <%= f.submit "Create Doctor",:class => "btn btn-primary btn-block btn-lg" %>
  <% end %>
</div>
