<!-- #  username        :string
#  firstname       :string
#  lastname        :string
#  email           :text
#  dob             :date
#  image           :text
#  password_digest :text -->

<div class="col-md-offset-4 col-md-4">
  <%= form_for @user do |f| %>
    <%= f.text_field :firstname, :placeholder => "First Name" %><br>
    <%= f.text_field :lastname, :placeholder => "Last Name" %><br>
    <%= f.email_field :email, :placeholder => "Email" %><br>
    <%= f.date_field :dob, :placeholder => "Date of Birth",:required => true %>
    <%= f.password_field :password, :placeholder => "Password", :required => true %><br>
    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :required => true %><br>
    <%= f.submit "Submit", :class => "btn btn-primary btn-block btn-lg" %>
  <% end %>
</div>
