<!-- #  username        :string
#  firstname       :string
#  lastname        :string
#  email           :text
#  dob             :date
#  image           :text
#  password_digest :text -->
<div class="login">

  <%= form_for @user do |f| %>
    <%= f.text_field :firstname, :placeholder => "First Name" %><br>

    <%= f.text_field :lastname, :placeholder => "Last Name" %><br>

    <%= f.email_field :email, :placeholder => "Email" %><br>

    <div class='input-group date' id='datetimepicker1'>
      <%= f.text_field :dob, :placeholder => "Date of Birth"%>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar">
        </span>
      </span>

      <script type="text/javascript">
        $(function() {
          $('#datetimepicker1').datetimepicker({
            format: 'DD/MM/YYYY'
          });
        });
      </script>
    </div>

    <%= f.password_field :password, :placeholder => "Password", :required => true %><br>

    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :required => true %><br>

    <%= f.submit "Submit", :class => "btn btn-primary btn-block btn-lg" %>
  <% end %>

</div>
