<h1>Listing All users</h1>

  <% @doctors.each do |doctor| %>
  <%= image_tag( doctor.image ) %>
    <ul>
      <li>First Name :<%= "Dr. #{doctor.firstname}" %></li>
      <li>Last Name :<%= doctor.lastname %></li>
      <li>Email :<%= doctor.email %></li>
      <li>Date of Birth :<%= doctor.dob %></li>
      <li>Qualifications: <%= doctor.doctor_qualifications%></li>
      <li>Speciality: <%= doctor.doctor_speciality%></li>
      <li>Awards/Recognitions: <%= doctor.doctor_awards_recognitions%></li>
      <li>Professional Experience: <%= doctor.doctor_professional_experience%></li>
      <li>Publications: <%= doctor.doctor_publications%></li>
      <li>Memberships: <%= doctor.doctor_memberships%></li>
    </ul><hr>
  <% end %>
