
<% @doctors.each do |doctor| %>
<div class="row-fluid">
  <div class="col-md-4"><br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= "Dr. #{doctor.firstname} #{doctor.lastname}" %></h3>
  </div>
  <div class="panel-body">
    <div class="media">
      <%= cl_image_tag( doctor.image, :width => 100, :height => 150, :crop => :fill, :class => "media-left")%>
    <div class="media-body">
      Qualifications: <%= doctor.doctor_qualifications%> <br>
      Speciality: <%= doctor.doctor_speciality%> <br>
      Awards/Recognitions: <%= doctor.doctor_awards_recognitions%> <br>
      Professional Experience: <%= doctor.doctor_professional_experience%> <br>
      Publications: <%= doctor.doctor_publications%> <br>
      Memberships: <%= doctor.doctor_memberships%> <br>
    </div>
  </div>
    <div class="doctor-actions" class="btn-group" role="group" aria-label="...">

      <%if is_admin?%>
        <td>
          <%= link_to edit_user_path(doctor), class: 'btn btn-default btn-sm' do %>
            <span class="glyphicon glyphicon-pencil"></span> Edit
          <% end %>
        </td>
        <td>
          <%= link_to user_path(doctor), method: :delete, class: 'btn btn-default btn-sm', data: {confirm: "Are you sure?"} do %>
            <span class="glyphicon glyphicon-trash"></span> Delete
          <% end %>
        </td>
      <% end %>
      <td>
        <%= link_to user_path(doctor), class: 'btn btn-default btn-sm' do %>
          <span class="glyphicon glyphicon-envelope"></span> Connect
        <% end %>
      </td>
    </div>

  </div>
</div>

</div>
</div>
<% end %>
