<div class="modal-body row text-center">
  <h1><%= "All Doctors" %></h1>
</div>
<% @doctors.each do |doctor| %>
<div class="container-fluid">
  <div class="modal-body row">
    <div class="col-md-4"><br>
      <h3><%= "Dr. #{doctor.firstname} #{doctor.lastname}" %></h3>
      <%= cl_image_tag( doctor.image, :width => 100, :height => 150, :crop => :fill)%>
      <div class="doctor-actions" role="group" aria-label="...">
        <%if is_admin?%>
          <td>
            <%= link_to edit_user_path(doctor), class: 'btn btn-default btn-sm' do %>
              <span class="glyphicon glyphicon-pencil"></span> Edit
            <% end %>
          </td>
          <td>
            <%= link_to user_path(doctor), method: :delete, class: 'btn btn-default btn-sm', data: {confirm: "Are you sure?"} do %>
              <span class="glyphicon glyphicon-trash"></span> Delete
            <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to user_path(doctor), class: 'btn btn-default btn-sm' do %>
            <span class="glyphicon glyphicon-envelope"></span> Connect
          <% end %>
        </td>
        <br>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item transparent">Qualifications: <%= doctor.doctor_qualifications%> </li>
        <li class="list-group-item transparent">Speciality: <%= doctor.doctor_speciality%> </li>
        <li class="list-group-item transparent">Awards/Recognitions: <%= doctor.doctor_awards_recognitions%> </li>
        <li class="list-group-item transparent">Professional Experience: <%= doctor.doctor_professional_experience%> </li>
        <li class="list-group-item transparent">Publications: <%= doctor.doctor_publications%> </li>
        <li class="list-group-item transparent">Memberships: <%= doctor.doctor_memberships%> </li>
      </ul>
    </div>
  </div>
  <div class="row"></div>
</div>
<% end %>
