<!-- #  username        :string
#  firstname       :string
#  lastname        :string
#  email           :text
#  dob             :date
#  image           :text
#  password_digest :text -->

<ul>
  <%=image_tag @user.image %>
<%if @user.doctor?%>
  <li>First Name: <%= "Dr. #{@user.firstname}" %></li>
  <li>Last Name: <%= @user.lastname %></li>
  <li>Email : <%= @user.email %></li>
  <li>Qualifications: <%= @user.doctor_qualifications%></li>
  <li>Speciality: <%= @user.doctor_speciality%></li>
  <li>Awards/Recognitions: <%= @user.doctor_awards_recognitions%></li>
  <li>Professional Experience: <%= @user.doctor_professional_experience%></li>
  <li>Publications: <%= @user.doctor_publications%></li>
  <li>Memberships: <%= @user.doctor_memberships%></li>
  <%if !is_doctor?%>
  <%= link_to "Message Doctor", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post' %>
  <%end%>
<%else%>
  <li>First Name: <%= @user.firstname %></li>
  <li>Last Name: <%= @user.lastname %></li>
  <li>Email : <%= @user.email %></li>
  <li>Date of birth: <%= @user.dob.strftime( "%A, %B %e, %Y" ) %></li>
  <%= link_to "Edit your profile", edit_user_path(@user) %>
<%end%>
</ul>
