<!-- #  username        :string
#  firstname       :string
#  lastname        :string
#  email           :text
#  dob             :date
#  image           :text
#  password_digest :text -->
<div class="row-fluid">
  <div class="col-md-offset-2 col-md-8"> <br>
<div class="panel panel-default">
  <%if @user.doctor?%>
    <div class="panel-heading">
      <h3 class="panel-title"><%= "Dr. #{@user.firstname} #{@user.lastname}" %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <%= cl_image_tag( @user.image, :width => 100, :height => 150, :crop => :fill)%>
        </div>
        <div class="col-md-8 list-group">
          <li class="list-group-item">Qualifications: <%= @user.doctor_qualifications%> </li>
          <li class="list-group-item">Speciality: <%= @user.doctor_speciality%> </li>
          <li class="list-group-item">Awards/Recognitions: <%= @user.doctor_awards_recognitions%> </li>
          <li class="list-group-item">Professional Experience: <%= @user.doctor_professional_experience%> </li>
          <li class="list-group-item">Publications: <%= @user.doctor_publications%> </li>
          <li class="list-group-item">Memberships: <%= @user.doctor_memberships%> </li>
        </div>
      </div>
      <div class="doctor-actions">
        <%if !is_doctor?%>
          <% if @is_charged %>
            <td>
              <%= link_to conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post' , class: 'btn btn-default btn-sm' do %>
                <span class="glyphicon glyphicon-envelope"></span> Message
              <% end %>
            </td>
          <%else%>
            <td>
              <%= link_to new_charge_path(doctor_id: @user.id), class: 'btn btn-default btn-sm' do %>
                <span class="glyphicon glyphicon-send"></span> Payment
              <% end %>
            </td>
          <%end%>
        <%end%>
    </div>
  </div>
<%else%>
  <div class="panel-heading">
    <h3 class="panel-title"><%= "#{@user.firstname} #{@user.lastname}" %></h3>
  </div>
  <div class="panel-body">
    <div class="row center-block">
      <div class="list-group">
        <li class="list-group-item">First Name: <%= @user.firstname %></li>
        <li class="list-group-item">Last Name: <%= @user.lastname %></li>
        <li class="list-group-item">Email : <%= @user.email %></li>
        <li class="list-group-item">Date of birth: <%= @user.dob%></li>
        <li class="list-group-item">Age : <%= ((Date.today - @user.dob).to_i / 365.25).ceil %> Years</li>
      </div>
    </div>
  </div>
<%end%>
</div>

<%if is_doctor?%>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Ongoing Consultations</h3>
  </div>
  <div class="panel-body">
  <div class="btn-group-vertical center-block" role="group" aria-label="...">
    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <td>
          <%= link_to conversation_messages_path(conversation), class: 'btn btn-primary btn-large' do %>
            <span class="glyphicon glyphicon-envelope"></span><%=" #{recipient.firstname}"%>
          <% end %>
        </td><br>
      <% end %>
    <% end %>
  </div>
</div>
</div>
<%end%>
</div>
</div>
