<!-- #  username        :string
#  firstname       :string
#  lastname        :string
#  email           :text
#  dob             :date
#  image           :text
#  password_digest :text -->

<%=image_tag @user.image %>

<ul>
  <li>User Name: <%= @user.username %></li>
  <li>First Name: <%= @user.firstname %></li>
  <li>Last Name: <%= @user.lastname %></li>
  <li>Email : <%= @user.email %></li>
  <li>Date of birth: <%= @user.dob.strftime( "%A, %B %e, %Y" ) %></li>
</ul>


<%= link_to "Edit your profile", edit_user_path(@user) %>
