<h1>Doctors#show</h1>
<%=image_tag @doctor.image %>
<ul>
  <li><%= @doctor.doctors_fullname  %></li>
  <li><%= @doctor.doctors_qualifications%></li>
  <li><%= @doctor.doctors_speciality%></li>
  <li><%= @doctor.doctors_awards_recognitions%></li>
  <li><%= @doctor.doctors_professional_experience%></li>
  <li><%= @doctor.doctors_publications%></li>
  <li><%= @doctor.doctors_memberships%></li>
</ul>
