<h1>Doctors#show</h1>
<%=image_tag @doctor.image %>
<ul>
  <li>Dr. <%= @doctor.firstname%> <%= @doctor.lastname%></li>
  <li><%= @doctor.qualifications%></li>
  <li><%= @doctor.speciality%></li>
  <li><%= @doctor.awards_recognitions%></li>
  <li><%= @doctor.professional_experience%></li>
  <li><%= @doctor.publications%></li>
  <li><%= @doctor.memberships%></li>
</ul>

<% if is_admin? %>
    <%= link_to "Edit", edit_doctor_path(@doctor)%></li>
    <%= link_to "Delete", doctor_path(@doctor),method: :delete%></li>
    <%= link_to "All Doctors" , doctors_path %>
<% end %>

<%if is_user? %>
  <%= link_to 'Message Doctor!', conversations_path(sender_user_id: current_user, recipient_doctor_id: @doctor.id), method: 'post'%>
<%end%>
