<h1>Doctors#show</h1> <%= link_to "All Doctors" , doctors_path %>
<%=image_tag @doctor.image %>
<ul>
  <li><%= @doctor.fullname  %></li>
  <li><%= @doctor.qualifications%></li>
  <li><%= @doctor.speciality%></li>
  <li><%= @doctor.awards_recognitions%></li>
  <li><%= @doctor.professional_experience%></li>
  <li><%= @doctor.publications%></li>
  <li><%= @doctor.memberships%></li>
</ul>
