
<nav>
  <% if logged_in? %>

  <%= link_to 'Log out', logout_path, method: :delete %><strong> | </strong>
  <%= link_to "Edit your profile", edit_user_path(current_user) %><strong> | </strong>
  <%= link_to "View your profile", user_path(current_user) %>


  <% else %>

  <%= link_to 'Log in', login_path %> <strong> | </strong>
  <%= link_to 'Sign up', new_user_path %>

  <% end %>
</nav>
