<!DOCTYPE html>
<html>
<head>
  <title>SecondOpinionApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>

</head>
<body class='<%=controller_name%> <%=action_name %>'>

<%= render :partial => './layouts/navigation' %>

  <% if flash[:success] %>
    <h1><%= flash[:success] %></h1>
  <% end %>
  <% if flash[:error] %>
    <h1><%= flash[:error] %></h1>
  <% end %>
<%= yield %>

</body>
</html>
